<%- include('./partials/header') %>

<%# What logged in user sees %>

<% if (user) { %>
<div>
    <img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer"> 
    <%= user.name %></div>
    <%= user.email %>
</div>

<section class="userBio">
  <%= user.bio %>
</section>

<form action="/home-page" method="POST">
  <label>Enter Bio:</label>
  <input type="text" name="bio">
  <input type="submit" value="Submit">
</form>
  
<%# Front page before user is logged in %>

<% } else { %>
  <h1>Express Yourself...</h1>
  <div>
  </div>
<% } %>

<%- include('./partials/footer') %>