<%- include('../partials/header') %>

<div id="user-info">
    <img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer"> 
    <%= user.name %></div>
    <% const accountCreated = user.createdAt %>
    <div>Account Created: <%= accountCreated.toLocaleDateString(); %></div>

    <section class="userBio">
      <%= user.bio %>
      <%= user.googleId %>
    </section>

  <form id="add-bio" action="users/<%= user._id %>" method="POST" class="form-group">
    <label>Enter Bio:</label>
    <input type="text" name="bio" class="form-control">
    <input type="submit" value="Submit" class="btn btn-dark">
  </form>
</div>

    <% if (posts.length) { %>
      <% posts.forEach(function(p) { %>
        <section id="show-page" class="container-lg">
          <h1><%= p.title %></h1>
          <p><%= p.content %></p><br>
          <div id="post-details">
              <% const postCreated = p.createdAt %>
              Posted: <%= postCreated.toLocaleDateString(); %>
            <a href="/posts/<%=p._id %>">Details</a>
          </div>
        </section>
      <% }); %>
   <% } %>
    

<%- include('../partials/footer') %>

  