<%- include('../partials/header') %>

<div id="user-info" class="mt-4">
    <img alt="avatar" src="<%= user.avatar %>" referrerpolicy="no-referrer"> 
    <%= user.name %></div>
    <% const accountCreated = user.createdAt %>
    <div class="text-sm-end">Account Created: <%= accountCreated.toLocaleDateString(); %></div>
    </div>
    
<div class="d-flex justify-content-center">
  <div class="btn btn-dark">
    <a href="/posts">MAKE NEW POST</a>
  </div>
</div>
    <% if (posts.length) { %>
      <% posts.forEach(function(p) { %>
        <section id="show-page" class="container-lg">
          <h1><%= p.title %></h1>
          <p><%= p.content %></p><br>
          <div class="d-flex justify-content-between">
              <% const postCreated = p.createdAt %>
              Posted: <%= postCreated.toLocaleDateString(); %>
            <a href="/posts/<%=p._id %>">Details</a>
          </div>
        </section>
      <% }); %>
   <% } else { %>
    <h4 class="mt-4">No Posts Yet 😢</h4>
  <% } %>

  <div class="d-flex justify-content-center">
    <div class="btn btn-dark mr-auto">
      <a href="/users/<%= user.id %>/private">PRIVATE POSTS 🤫 </a>
    </div>
  </div>
    

<%- include('../partials/footer') %>

  