<%- include('../partials/header') %>

<% if (posts.length) { %>
    <% posts.forEach(function(p) { %>
      <section id="show-page" class="container-lg">
        <h1><%= p.title %></h1>
        <p><%= p.content %></p><br>
        <div class="d-flex justify-content-between">
            <% const postCreated = p.createdAt %>
            Posted: <%= postCreated.toLocaleDateString(); %>
          <a href="/posts/<%=p._id %>">Details</a>
        </div>
      </section>
    <% }); %>
 <% } else { %>
  <h4 class="mt-4">No Posts Yet 😢</h4>
<% } %>

<%- include('../partials/footer') %>
