<%- include('../partials/header') %>

<form id="new-post" action="/posts" method="POST">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" type="text" name="title"><br>
        <label>Write Your Heart Out</label>
        <input class="form-control" type="text" name="content"><br>
        <input class="btn btn-dark" type="submit" value="ADD NEW POST">
    </div>
</form>

<% posts.forEach(function(p) { %>
    <div class="container-lg">
        <h3><%= p.title %></h3><br>
        <p><%= p.content %></p>
        <div><%= p.createdAt %></div>
        <a href="/posts/<%=p._id %>">Details</a>
    </div>
<% }); %>


<%- include('../partials/footer') %>

