<%- include('../partials/header') %>

<form id="new-post" class="mt-4" action="/posts" method="POST">
    <div class="form-group">
        <label>Title</label>
        <textarea class="form-control" type="text" name="title" rows="3"></textarea><br>
        <label>Write Your Heart Out</label>
        <textarea class="form-control" type="text" name="content" rows="6"></textarea><br>
        <input class="btn btn-dark" type="submit" value="ADD NEW POST">
    </div>
</form>

<% posts.forEach(function(p) { %>
    <div class="container-lg">
        <h3><%= p.title %></h3><br>
        <p><%= p.content %></p>
        <div class="d-flex justify-content-between">
            <% const dateCreated = p.createdAt %>
            <div>Posted: <%= dateCreated.toLocaleDateString(); %></div><br>
            <a href="/posts/<%=p._id %>">Details</a>
        </div>  
    </div>
<% }); %>


<%- include('../partials/footer') %>

