<%- include('../partials/header') %>


<section id="show-page" class="container-lg">
    <div><%= post.title %></div>
    <div><%= post.content %></div>
    <div><%= post.createdAt %></div>
</section>

<form id="add-comment" method="POST"
 action="/posts/<%= post._id %>/comments">
<input type="text" name="comment">
<input type="submit" value="Add Comment">
</form>



<% if (post.comments.length) { %>
    <table>
      <thead>
        <tr>
          <th>User</th>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        <% post.comments.forEach(function(p) { %>
          <tr>
            <td class="review-user"><img alt="avatar" src="<%= p.userAvatar %>" referrerpolicy="no-referrer"> <%= p.userName %></td>
            <td><%= p.createdAt.toLocaleDateString() %></td>
            <td><%= p.content %></td>
            <td><%= p.rating %></td>
            <td>
        <% }); %>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Reviews Yet</h5>
  <% } %>


<%- include('../partials/footer') %>
