<%- include('../partials/header') %>

<section id="show-page" class="container-lg">
    <h1><%= post.title %></h1>
    <h5><%= post.content %></h5><br>
    <div class="d-flex justify-content-between">
      <div>
        <img alt="avatar" src="<%= post.userAvatar %>" referrerpolicy="no-referrer">
        <a href="/users/<%= post.user %>">
          <%= post.userName %>
        </a>
      </div>
        <% const dateCreated = post.createdAt %>
        <div>Posted: <%= dateCreated.toLocaleDateString(); %></div>
    </div>

    <% if (user?._id.equals(post.user)) { %>
      <h4 class="text-center">Edit Post</h4>
      <form action="posts/<%= post._id %>/edit" method="PUT">
        <div class="form-group">
          <label>Title</label>
          <input type="text" name="title" class="form-control" >
          <label>Post</label>
          <textarea name="contents" class="form-control" autocomplete="off" rows="3"><%= post.content %></textarea>
        </div>
        <button type="submit" name="button" class="btn btn-primary">Publish</button>
      </form>
    
      <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
        DELETE POST
        <button type="submit">X</button>  
      </form>
      <% } %>
</section>

<h3>Comments</h3>
<% if (post.comments.length) { %>
  <% post.comments.forEach(function(p) { %>
    <section class="container-lg">
      <div class="comment-user"><img alt="avatar" src="<%= p.userAvatar %>" referrerpolicy="no-referrer"> 
        <a href="/users/<%= p.user %>">
          <%= p.userName %>
        </a>
        </div>
      <div class="text-end"><%= p.contents %></div> 
  <% if (user?._id.equals(p.user)) { %>
    <form action="/comments/<%= p._id %>?_method=DELETE" method="POST">
      DELETE COMMENT
      <button type="submit">X</button>  
    </form>
    <% } %>
  </section> 
      <% }); %>
      <% } else { %>
        <h5>No Reviews Yet</h5>
        <% } %>

  <form id="add-comment" method="POST"
    action="/posts/<%= post._id %>/comments">
    <textarea name="contents"></textarea><br>
    <input type="submit" value="Add Comment">
  </form>

<%- include('../partials/footer') %>
